# ==================== Supabase config ============================

# TODO: Simplify this way down, and combine with Supabase TOML

# The Supabase Postgres connection is available on the host
PG_DATABASE_HOSTNAME=host.docker.internal
PG_DATABASE_NAME=postgres
PG_DATABASE_PORT=4322 #This port has been configured in supabase/config.toml
PG_DATABASE_USER=postgres
PG_DATABASE_PASSWORD=postgres

# ==================== PowerSync config ====================

# The PowerSync API is accessible via this port
PS_PORT=8080